// .alice-carousel__stage-item {
//   padding-right: 10.6px;
//   /* This ensures a gap of 20px between items */
// }


.section-carousel-wrapper {
  position: relative;

  .arrow-r {
    background-color: aqua;

    & img {
      position: absolute;
      right: 1%;
      top: 50%;
      transform: translateY(-50%) !important;
      background-color: #ffffff;
      border-radius: 50%;
      z-index: 999;
      cursor: pointer;
    }
  }

  .arrow-l {
    & img {
      position: absolute;
      top: 50%;
      transform: translateY(-50%) !important;
      border-radius: 50%;
      background-color: #ffffff !important;
      z-index: 999;
      cursor: pointer;
      left: calc(2% - 68px) !important;
    }
  }
}